<!doctype html>
<html lang="en">

<head>
  <!-- Required Meta Tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Document Title, Description, and Author -->
  <title>EAGLE CORPORATION</title>
  <meta name="description" content="Concept is a Bootstrap 5 Portfolio Template.">
  <meta name="author" content="BootstrapBrain">

   <!-- Favicon and Touch Icons -->
   <link rel="apple-touch-icon" sizes="180x180" href="/favicon/fevegal.png">
   <link rel="icon" type="image/png" sizes="32x32" href="/favicon/fevegal.png">      


   <!-- CSS Files -->
   <link rel="stylesheet" href="/stylesheets/concept-bsb.css">

  <!-- BSB Head -->
</head>

<style>
  body {
    font-family: cralika !important;
    color: #245656 !important;
  }
  .custom-button {
    font-weight: bold;
    color: #245656;
    border: 1px solid #245656;
    border-radius: 30px;
    padding: 5px 15px;
    background-color: transparent;
  }
  .custom-button:hover {
    background-color: #245656;
    color: white;
  }
</style>

<body>
  <%-include('./head/header.ejs')%>

  <!-- Main -->
  <main id="main">

    <!-- About 8 - Bootstrap Brain Component -->
<section class=" py-md-5 py-xl-8">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
          <h2 class="mb-4 display-5 text-center">Our Best Offers</h2>
          <p class="text-dark mb-5 text-center lead fs-5">At our core, we are dedicated to providing exceptional design and renovation solutions for spaces of all styles and sizes.</p>
        </div>
      </div>
    </div>
  
    <div class="container">
      <div class="row gy-4 gy-lg-0 align-items-lg-center">
        <div class="col-12 col-lg-6">
          <img class="img-fluid rounded border border-dark" loading="lazy" src="/images/interior design/intgerior design 1.avif" alt="About Us">
        </div>
        <div class="col-12 col-lg-6 col-xxl-6">
          <div class="row justify-content-lg-end justify-content-xxl-around">
            <div class="col-12 col-lg-11 col-xxl-10">
              <div class="card border-0 mb-4">
                <div class="card-body p-0">
                  <h4 class="card-title mb-3">Our Services</h4>
                  <ul class="list-unstyled m-0 p-0 d-sm-flex flex-sm-wrap">
                    <li class="py-1 d-flex align-items-center gap-2 col-sm-6">
                      <span class="text-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check-all" viewBox="0 0 16 16">
                          <path d="M8.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L2.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093L8.95 4.992zm-.92 5.14.92.92a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 1 0-1.091-1.028L9.477 9.417l-.485-.486z" />
                        </svg>
                      </span>
                      <span>Prefabricated wood house</span>
                    </li>
                    <li class="py-1 d-flex align-items-center gap-2 col-sm-6">
                      <span class="text-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check-all" viewBox="0 0 16 16">
                          <path d="M8.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L2.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093L8.95 4.992zm-.92 5.14.92.92a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 1 0-1.091-1.028L9.477 9.417l-.485-.486z" />
                        </svg>
                      </span>
                      <span>Interior design</span>
                    </li>
                    <li class="py-1 d-flex align-items-center gap-2 col-sm-6">
                      <span class="text-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check-all" viewBox="0 0 16 16">
                          <path d="M8.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L2.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093L8.95 4.992zm-.92 5.14.92.92a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 1 0-1.091-1.028L9.477 9.417l-.485-.486z" />
                        </svg>
                      </span>
                      <span>Customized furniture</span>
                    </li>
                    <li class="py-1 d-flex align-items-center gap-2 col-sm-6">
                      <span class="text-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check-all" viewBox="0 0 16 16">
                          <path d="M8.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L2.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093L8.95 4.992zm-.92 5.14.92.92a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 1 0-1.091-1.028L9.477 9.417l-.485-.486z" />
                        </svg>
                      </span>
                      <span>Home furnishings</span>
                    </li>
                    <li class="py-1 d-flex align-items-center gap-2 col-sm-6">
                      <span class="text-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check-all" viewBox="0 0 16 16">
                          <path d="M8.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L2.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093L8.95 4.992zm-.92 5.14.92.92a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 1 0-1.091-1.028L9.477 9.417l-.485-.486z" />
                        </svg>
                      </span>
                      <span>Tensile structure</span>
                    </li>
                    <li class="py-1 d-flex align-items-center gap-2 col-sm-6">
                      <span class="text-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check-all" viewBox="0 0 16 16">
                          <path d="M8.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L2.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093L8.95 4.992zm-.92 5.14.92.92a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 1 0-1.091-1.028L9.477 9.417l-.485-.486z" />
                        </svg>
                      </span>
                      <span>Modular kitchen</span>
                    </li>
                  </ul>
                </div>
              </div>
  
              <!-- <div class="card border-0 mb-4 mb-xxl-5">
                <div class="card-body p-0">
                  <h4 class="card-title mb-3">Accessory Installation</h4>
                  <ul class="list-unstyled m-0 p-0 d-sm-flex flex-sm-wrap">
                    <li class="py-1 d-flex align-items-center gap-2 col-sm-6">
                      <span class="text-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check-all" viewBox="0 0 16 16">
                          <path d="M8.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L2.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093L8.95 4.992zm-.92 5.14.92.92a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 1 0-1.091-1.028L9.477 9.417l-.485-.486z" />
                        </svg>
                      </span>
                      <span>Handlebar Tape Installation</span>
                    </li>
                    <li class="py-1 d-flex align-items-center gap-2 col-sm-6">
                      <span class="text-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check-all" viewBox="0 0 16 16">
                          <path d="M8.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L2.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093L8.95 4.992zm-.92 5.14.92.92a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 1 0-1.091-1.028L9.477 9.417l-.485-.486z" />
                        </svg>
                      </span>
                      <span>Pedal Installation</span>
                    </li>
                    <li class="py-1 d-flex align-items-center gap-2 col-sm-6">
                      <span class="text-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check-all" viewBox="0 0 16 16">
                          <path d="M8.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L2.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093L8.95 4.992zm-.92 5.14.92.92a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 1 0-1.091-1.028L9.477 9.417l-.485-.486z" />
                        </svg>
                      </span>
                      <span>Fender Installation</span>
                    </li>
                    <li class="py-1 d-flex align-items-center gap-2 col-sm-6">
                      <span class="text-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check-all" viewBox="0 0 16 16">
                          <path d="M8.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L2.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093L8.95 4.992zm-.92 5.14.92.92a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 1 0-1.091-1.028L9.477 9.417l-.485-.486z" />
                        </svg>
                      </span>
                      <span>Rack and Pannier Installation</span>
                    </li>
                  </ul>
                </div>
              </div>
   -->
              <a href="/services" class="btn text-light" style="background-color: #245656;">
                Explore
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8" />
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  </main>

  <%-include('./head/footer.ejs')%>
  
  <!-- Javascript Files: Vendors -->
  <script src="https://unpkg.com/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>


  <!-- BSB Body End -->
</body>

</html>
