<!doctype html>
<html lang="en">

<head>
  <!-- Required Meta Tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Document Title, Description, and Author -->
  <title>EAGLE CORPORATION</title>
  <meta name="description" content="Concept is a Bootstrap 5 Portfolio Template.">
  <meta name="author" content="BootstrapBrain">

   <!-- Favicon and Touch Icons -->
   <link rel="apple-touch-icon" sizes="180x180" href="/favicon/fevegal.png">
   <link rel="icon" type="image/png" sizes="32x32" href="/favicon/fevegal.png">      


   <!-- CSS Files -->
   <link rel="stylesheet" href="/stylesheets/concept-bsb.css">
  <!-- BSB Head -->
</head>

<style>
  body {
    font-family: cralika !important;
    color: #245656 !important;
  }
  .custom-button {
    font-weight: bold;
    color: #245656;
    border: 1px solid #245656;
    border-radius: 30px;
    padding: 5px 15px;
    background-color: transparent;
  }
  .custom-button:hover {
    background-color: #245656;
    color: white;
  }
</style>

<body>
  <%-include('./head/header.ejs')%>

  <!-- Main -->
  <main id="main">

    <!-- Project 1 - Bootstrap Brain Component -->
    <section class="py-md-8 py-xl-10">
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
            <h2 class="mb-4 display-5 text-center">Our Projects</h2>
            <p class="text-dark mb-5 text-center lead fs-4">We are passionate about creating innovative products. We believe that technology can make people's lives better.</p>
            <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
          </div>
        </div>
      </div>

      <div class="container overflow-hidden">
        <div class="row gy-3 gy-md-2 bsb-project-1-grid">
          <div class="col-12 col-md-6 col-lg-3 bsb-project-1-item">
            <figure class="rounded rounded-4 overflow-hidden bsb-overlay-hover">
              <a href="#!">
                <img class="img-fluid bsb-scale-up bsb-hover-scale" loading="lazy" src="/images/300ppi/wood house1.jpg" alt="">
              </a>
              <figcaption>
                <h3 class="text-white bsb-hover-fadeInLeft">Prefabricated wood house</h3>
                <div class="text-white bsb-hover-fadeInRight">Prototype 1</div>
              </figcaption>
            </figure>
          </div>

          <div class="col-12 col-md-6 col-lg-6 bsb-project-1-item">
            <figure class="rounded rounded-4 overflow-hidden bsb-overlay-hover">
              <a href="#!">
                <img class="img-fluid bsb-scale bsb-hover-scale-up" loading="lazy" src="/images/300ppi/wood house2.jpg" alt="">
              </a>
              <figcaption>
                <h3 class="text-white bsb-hover-fadeInUp">Prefabricated wood house</h3>
                <div class="text-white bsb-hover-fadeInDown">Prototype 2</div>
              </figcaption>
            </figure>
          </div>

          <div class="col-12 col-md-6 col-lg-3 bsb-project-1-item">
            <figure class="rounded rounded-4 overflow-hidden bsb-overlay-hover">
              <a href="#!">
                <img class="img-fluid bsb-scale-up bsb-hover-scale" loading="lazy" src="/images/300ppi/interior1.jpg" alt="">
              </a>
              <figcaption>
                <h3 class="text-white bsb-hover-fadeInLeft">Interior Design</h3>
                <div class="text-white bsb-hover-fadeInRight">Design 1</div>
              </figcaption>
            </figure>
          </div>

          <div class="col-12 col-md-6 col-lg-3 bsb-project-1-item">
            <figure class="rounded rounded-4 overflow-hidden bsb-overlay-hover">
              <a href="#!">
                <img class="img-fluid bsb-scale-up bsb-hover-scale" loading="lazy" src="/images/300ppi/interior2.jpg" alt="">
              </a>
              <figcaption>
                <h3 class="text-white bsb-hover-fadeInLeft">Interior Design</h3>
                <div class="text-white bsb-hover-fadeInRight">Design 2</div>
              </figcaption>
            </figure>
          </div>

          <div class="col-12 col-md-6 col-lg-3 bsb-project-1-item">
            <figure class="rounded rounded-4 overflow-hidden bsb-overlay-hover">
              <a href="#!">
                <img class="img-fluid bsb-scale-up bsb-hover-scale" loading="lazy" src="/images/300ppi/kitchen.jpg" alt="">
              </a>
              <figcaption>
                <h3 class="text-white bsb-hover-fadeInLeft">Modular kitchen</h3>
                <div class="text-white bsb-hover-fadeInRight">Prototype 1</div>
              </figcaption>
            </figure>
          </div>

          <div class="col-12 col-md-6 col-lg-3 bsb-project-1-item">
            <figure class="rounded rounded-4 overflow-hidden bsb-overlay-hover">
              <a href="#!">
                <img class="img-fluid bsb-scale-up bsb-hover-scale" loading="lazy" src="/images/300ppi/kitchen2.jpg" alt="">
              </a>
              <figcaption>
                <h3 class="text-white bsb-hover-fadeInLeft">Modular kitchen</h3>
                <div class="text-white bsb-hover-fadeInRight">Prototype 2</div>
              </figcaption>
            </figure>
          </div>

          <div class="col-12 col-md-6 col-lg-3 bsb-project-1-item">
            <figure class="rounded rounded-4 overflow-hidden bsb-overlay-hover">
              <a href="#!">
                <img class="img-fluid bsb-scale-up bsb-hover-scale" loading="lazy" src="/images/300ppi/p1.jpg" alt="">
              </a>
              <figcaption>
                <h3 class="text-white bsb-hover-fadeInLeft">Boat Adventure</h3>
                <div class="text-white bsb-hover-fadeInRight">Health</div>
              </figcaption>
            </figure>
          </div>

          <div class="col-12 col-md-6 col-lg-3 bsb-project-1-item">
            <figure class="rounded rounded-4 overflow-hidden bsb-overlay-hover">
              <a href="#!">
                <img class="img-fluid bsb-scale-up bsb-hover-scale" loading="lazy" src="/images/300ppi/p2.jpg" alt="">
              </a>
              <figcaption>
                <h3 class="text-white bsb-hover-fadeInLeft">Offroad Moves</h3>
                <div class="text-white bsb-hover-fadeInRight">Nature</div>
              </figcaption>
            </figure>
          </div>

          <div class="col-12 col-md-6 col-lg-3 bsb-project-1-item">
            <figure class="rounded rounded-4 overflow-hidden bsb-overlay-hover">
              <a href="#!">
                <img class="img-fluid bsb-scale-up bsb-hover-scale" loading="lazy" src="/images/300ppi/tensile1.jpeg.jpg" alt="">
              </a>
              <figcaption>
                <h3 class="text-white bsb-hover-fadeInLeft">Tensile structure
                </h3>
                <div class="text-white bsb-hover-fadeInRight">Design</div>
              </figcaption>
            </figure>
          </div>

          <div class="col-12 col-md-6 col-lg-3 bsb-project-1-item">
            <figure class="rounded rounded-4 overflow-hidden bsb-overlay-hover">
              <a href="#!">
                <img class="img-fluid bsb-scale-up bsb-hover-scale" loading="lazy" src="/images/300ppi/tensile2.jpeg.jpg" alt="">
              </a>
              <figcaption>
                <h3 class="text-white bsb-hover-fadeInLeft">Tensile structure</h3>
                <div class="text-white bsb-hover-fadeInRight">Design</div>
              </figcaption>
            </figure>
          </div>

          <div class="col-12 col-md-6 col-lg-3 bsb-project-1-item">
            <figure class="rounded rounded-4 overflow-hidden bsb-overlay-hover">
              <a href="#!">
                <img class="img-fluid bsb-scale-up bsb-hover-scale" loading="lazy" src="/images/300ppi/p3.jpg" alt="">
              </a>
              <figcaption>
                <h3 class="text-white bsb-hover-fadeInLeft">Boat Adventure</h3>
                <div class="text-white bsb-hover-fadeInRight">Health</div>
              </figcaption>
            </figure>
          </div>

          <div class="col-12 col-md-6 col-lg-3 bsb-project-1-item">
            <figure class="rounded rounded-4 overflow-hidden bsb-overlay-hover">
              <a href="#!">
                <img class="img-fluid bsb-scale-up bsb-hover-scale" loading="lazy" src="/images/300ppi/p3.jpg" alt="">
              </a>
              <figcaption>
                <h3 class="text-white bsb-hover-fadeInLeft">Offroad Moves</h3>
                <div class="text-white bsb-hover-fadeInRight">Nature</div>
              </figcaption>
            </figure>
          </div>

          <div class="col-12 col-md-6 col-lg-3 bsb-project-1-item">
            <figure class="rounded rounded-4 overflow-hidden bsb-overlay-hover">
              <a href="#!">
                <img class="img-fluid bsb-scale-up bsb-hover-scale" loading="lazy" src="/images/300ppi/p4.jpg" alt="">
              </a>
              <figcaption>
                <h3 class="text-white bsb-hover-fadeInLeft">Cozy Occupancy</h3>
                <div class="text-white bsb-hover-fadeInRight">Design</div>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </section>

  </main>

  <%-include('./head/footer.ejs')%>

  <!-- Javascript Files: Vendors -->
  <script src="https://unpkg.com/jquery@3.6.1/dist/jquery.min.js"></script>
  <script src="https://unpkg.com/isotope-layout@3.0.6/dist/isotope.pkgd.min.js"></script>
  <script src="https://unpkg.com/isotope-packery@2.0.1/packery-mode.pkgd.min.js"></script>
  <script src="https://unpkg.com/imagesloaded@5.0.0/imagesloaded.pkgd.min.js"></script>
  <script src="https://unpkg.com/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

  <!-- Javascript Files: Controllers -->
  <script src="./assets/controller/project-1.js"></script>


  <!-- BSB Body End -->
</body>

</html>
